---
---

$serif: "Source Serif 4", Georgia, Times, serif;
$sans-serif: "Source Serif 4", Georgia, Times, serif;
$sans-serif-narrow: "Source Serif 4", Georgia, Times, serif;

$global-font-family: $serif;
$header-font-family: $serif;
$caption-font-family: $serif;

@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes";